PROJECT_PATH=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
NOTIFICATION_PROJECT_PATH=
SPICE_PROJECT_PATH=
FORGOT_PASSWORD_TIME_LIMIT_IN_MINUTES=
EMAIL_APP_URL=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_HOST=
DOMAIN_NAME=
ENVIRONMENT=
ALLOWED_ORIGINS=
SERVER_REGION=
BUCKET_NAME=
SIGNATURE_BUCKET_FOLDER=
IN_APP_ANALYTICS_BUCKET_FOLDER=
CONSENT_FORM_BUCKET_FOLDER=
APP_VERSION=
MAIL_SEND=
ENABLE_SMS_NOTIFICATION=
ENABLE_SMS_NOTIFICATION_SNS=
SHEDLOCK_EMAIL_START=
SHEDLOCK_EMAIL_STOP=
IS_NEXT_MEDICAL_REVIEW_JOB=
IS_NEXT_BP_JOB=
IS_NEXT_BG_JOB=
SHEDLOCK_OUTBOUND_START=
SHEDLOCK_OUTBOUND_STOP=
SHEDLOCK_SMS_START=
SHEDLOCK_SMS_STOP=
SWAGGER_ENABLED=
QUALIPHARM_URL=
QUALIPHARM_USERNAME=
QUALIPHARM_PASSWORD=
WORKFLOW=
WORKFLOW_ENABLED_SITES=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_SQS_SPICE_MESSAGE_QUEUE_URL=
AWS_SQS_SPICE_MESSAGE_GROUP_ID=
APP_VALIDATE_TOKEN_API=

# Server Configuration
FHIR_SERVER_PORT=

# Management Endpoints Configuration
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=

# Spring Configuration
SPRING_MAIN_ALLOW_CIRCULAR_REFERENCES=
FHIR_DATASOURCE_URL=
FHIR_DATASOURCE_USERNAME=
FHIR_DATASOURCE_PASSWORD=
FHIR_DATASOURCE_DRIVER_CLASS_NAME=
FHIR_JPA_PROPERTIES_HIBERNATE_DIALECT=
SPRING_JPA_PROPERTIES_HIBERNATE_SEARCH_ENABLED=

# HAPI FHIR Configuration

SQS_REQUEST_QUEUE_URL=
SQS_RESPONSE_QUEUE_URL=
SQS_REQUEST_QUEUE_NAME=
SQS_RESPONSE_QUEUE_NAME=
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
OFFLINE_PROJECT_PATH=
SWAGGER_ENABLED=
JOB_USER_NAME=
JOB_USER_PASSWORD=

# Follow Up criteria
SUCCESSFUL_CALL_ATTEMPTS=
UNSUCCESSFUL_CALL_ATTEMPTS
FOLLOWUP_MALARIA_IN_DAYS=
FOLLOWUP_PNEUMONIA_IN_DAYS=
FOLLOWUP_DIARRHEA_IN_DAYS=
FOLLOWUP_MUAC_IN_DAYS=
FOLLOWUP_ESCALATION_LIMIT_IN_DAYS=
FOLLOWUP_REFERRAL_IN_DAYS=
FOLLOWUP_ANC_VISIT_IN_DAYS=
FOLLOWUP_PNC_VISIT_IN_DAYS=
FOLLOWUP_CHILD_VISIT_IN_DAYS=

# SMART ANC
SMART_ANC_ENABLED=

# Services
CFR_SERVICE=
USER_SERVICE=
ADMIN_SERVICE=
SPICE_SERVICE=
AUTH_SERVICE=
NOTIFICATION_SERVICE=
FHIR_SERVICE=
CQL_SERVICE=

# Digimiles sms
ENABLE_SMS_NOTIFICATION_DIGIMILES
DIGIMILES_SMS_URL=
DIGIMILES_SMS_USERNAME=
DIGIMILES_SMS_PASSWORD=
DIGIMILES_SMS_TYPE=
DIGIMILES_SMS_DLR=
DIGIMILES_SMS_SENDER=
SMS_RESET_PASSWORD_URL=
HAPI_IDENTIFIER_URL=

AWS_ENVIRONMENT=   #eks/ec2
ENABLE_RED_RISK_NOTIFICATION=

# SHORT URL
SHORTEN_URL_DOMAIN=
SHORTEN_APP=

# Lab test prediction
LAB_TEST_INTENSIFICATION_LIST=

#Queue
IS_AWS_SQS_ENABLED=false
IS_RABBITMQ_SQS_ENABLED=true
RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_USERNAME=guest
RABBIT_MQ_PASSWORD=guest
RABBIT_MQ_EXCHANGE_NAME=SPICE_EXCHANGE
RABBIT_MQ_GROUP=SPICE_GROUP
RABBIT_PRODUCER_CHANNEL=RabbitMQProducerService-out-0
RABBIT_CONSUMER_CHANNEL=RabbitMQConsumerService

# Prescription prediction
PRESCRIPTION_PREDICTION_DAYS=

# Follow up criteria for africa
FOLLOWUP_CALL_ATTEMPTS=
SCREENING_FOLLOWUP_REMAINING_DAYS=
ASSESSMENT_FOLLOWUP_REMAINING_DAYS=
MEDICAL_REVIEW_FOLLOWUP_REMAINING_DAYS=
LOST_TO_FOLLOWUP_REMAINING_DAYS=
VERSION_CHECK_EXEMPT_USERS=

#HereMap
HERE_MAP_API_KEY=
IS_CLOUD=
API_KEY_PATH=
SERVER_REGION=
AWS_ENVIRONMENT=

# MINIO
IS_MINIO_SERVER_ENABLE=
MINIO_URL=
MINIO_CONSOLE_URL=
MINIO_ACCESS_NAME=
MINO_SECRET_KEY=